<div style="height:693px; background-image:url(assets/fondo.jpg);
background-repeat: no-repeat; background-size: 100%;" >
    <div class="m-0 vh-100 row justify-content-center align-items-center">
    <div class="col-auto p-5 text-center">
        <div class="card" style="width: 20rem;">
            <img src="assets/logo.png" class="card-img-top" alt="img/png" width="18rem" >
            <div class="card-body">
              <h5 class="card-title">Iniciar Sesion</h5>
              <p class="card-text">Bienvenido a MeratiSAC, 
                la mejor Ecommerce</p>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="login" placeholder="usuario">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" placeholder="contraseña" id="exampleFormControlTextarea1" >
              </div>
              <a style="margin-right: 5px;" href="./principal" class="btn btn-primary">Login</a>
              <a href="./principal" class="btn btn-secondary">Registrar Usuario</a>
            </div>
        </div>
    </div>  
    </div>
        
</div>

