<div>
    <app-menu></app-menu>
    <app-navbar ></app-navbar>
<div class="contenido">
    <h4>Corporación Merati S.A.C. es una empresa 
        peruana dedicada a la producción de alimentos y bebidas a base de extractos naturales
         y pulpas de fruta, bajo las marcas “Wayu's” y “Soy Frutta” elaborados bajo los mejores estándares 
         de calidad, una infraestructura adecuada, estricto control de los procesos y con el apoyo de 
            nuestros colaboradores.
        Nos enfocamos en la mejora continua y en la búsqueda de la plena satisfacción de nuestros clientes.</h4>
</div>
  </div>
