<div  class="barra-navegacion">

    <div class="contenedor-logo">
      <!-- <p class="texto-logo">Merati Fruit</p> -->
      <div style="padding-bottom: 100px; height: 100px;">
        <img src="assets/logo.png" height="70px">
        <br/>
      </div>
      
    </div>
    <!-- <button class="boton-inicio" (click)="funcionInicio()" disabled>
      <p class="texto-inicio">Inicio</p>
    </button> -->
    <div >
      <table>
        <tr>
          <td>
            <img class="iconPerfil"  src="https://scontent.flim15-1.fna.fbcdn.net/v/t1.6435-9/121056309_3081425738630082_1604989873452406682_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=2be8e3&_nc_eui2=AeHLx_qRRpFGvnlK8UdtFMtTbqDMyaHShB9uoMzJodKEH96MjHj8NmXhkdh0YaQX6QuxApx6AtFXl0M9wCpM6xN9&_nc_ohc=TArtsn5yKNYAX8kPYhd&_nc_ht=scontent.flim15-1.fna&oh=00_AfB5S5o6IN-AkQVcjCAKUxNJUFmhgjBMr7kVAUh1E33MPQ&oe=6563A809" height="70px">
          </td>
          <td>
            <table>
              <tr><u>Hayro</u></tr>
              <tr> Cliente</tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
</div>

