<div class="barra-menu">
    <p class="titulo-menu">Menu</p>
  
    <div class="contenedor-regresar">
      <button class="boton-regresar" (click)="funcionRegresar()">Regresar</button>
    </div>
  
    <div class="contenedor-titulo-barra">
      <p class="titulo-barra"> PEDIDOS</p>
    </div>
  
  
    <button class="{{otrosValores}}" style="background: {{colorBoton1}} !important" (click)="click(1)">
      <p class="texto-boton-activado">Recientes</p>
    </button>
    
    <button class="{{otrosValores}}" style="background: {{colorBoton5}} !important" (click)="click(5)">
      <p class="texto-boton-activado">Plan de producción</p>
    </button>
  
    <button class="{{otrosValores}}" style="background: {{colorBoton2}} !important" (click)="click(2)">
      <p class="texto-boton-activado">Mantenimiento de Datos</p>
    </button>
  
    <button class="{{otrosValores}}" style="background: {{colorBoton3}} !important" (click)="click(3)">
      <p class="texto-boton-activado">Gestión de productos nuevos</p>
    </button>
  
    <button class="{{otrosValores}}" style="background: {{colorBoton4}} !important" (click)="click(4)">
      <p class="texto-boton-activado">Gestión de Clientes</p>
    </button>
  </div>
  
