<div class="barra-menu">
    <p class="titulo-menu">Menu</p>
  
    <div class="contenedor-regresar">
      <button class="boton-regresar" (click)="funcionRegresar()">Regresar</button>
      <br/>
      <br/>
    </div>
    
    <button class="{{otrosValores}}" style="background: #FFC700, !important" (click)="mostrarProductos()">
      <p class="texto-boton-activado">Productos</p>
    </button>
    
    <button class="{{otrosValores}}" style="background: #FFFFFF !important" (click)="click(5)">
      <p class="texto-boton-activado">Pedidos</p>
    </button>
  
    <button class="{{otrosValores}}" style="background: #FFFFFF !important" (click)="click(2)">
      <p class="texto-boton-activado">Solicitud de Nuevo Producto</p>
    </button>
  
    <!-- <button class="{{otrosValores}}" style="background: #FFFFFF !important" (click)="click(3)">
      <p class="texto-boton-activado">Gestión de productos nuevos</p>
    </button>
  
    <button class="{{otrosValores}}" style="background: #FFFFFF !important" (click)="click(4)">
      <p class="texto-boton-activado">Gestión de Clientes</p>
    </button> -->
  </div>
  
